[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain = "*"
langchain-community = "*"
xarray = "*"
geopy = "*"
geopandas = "*"
pyproj = "*"
pandas = "*"
folium = "*"
streamlit-folium = "*"
matplotlib = "*"
netcdf4 = "*"
dask = "*"
replicate = "*"

[dev-packages]

[requires]
python_version = "3.10"
